<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>tripshare</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/> <!-- 기본적으로 안전하지 않은 네트워크 요청을 허용하지 않음 -->
        <key>NSAllowsLocalNetworking</key>
        <true/> <!-- 로컬 네트워크 요청을 허용 -->
        <key>NSExceptionDomains</key>
        <dict>
            <key>localhost</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/> <!-- 로컬 서버에 대한 안전하지 않은 요청 허용 -->
            </dict>
            <key>openweathermap.org</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/> <!-- 하위 도메인 포함 -->
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/> <!-- 안전하지 않은 HTTP 요청 허용 -->
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.1</string> <!-- 최소 TLS 버전 설정 -->
            </dict>
            <key>apis.data.go.kr</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/> <!-- 하위 도메인 포함 -->
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/> <!-- 안전하지 않은 HTTP 요청 허용 -->
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.1</string> <!-- 최소 TLS 버전 설정 -->
            </dict>
            <key>www.koreaexim.go.kr</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/> <!-- 하위 도메인 포함 -->
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/> <!-- 안전하지 않은 HTTP 요청 허용 -->
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.1</string> <!-- 최소 TLS 버전 설정 -->
            </dict>
            <key>api.timezonedb.com</key>
            <dict>
                 <key>NSIncludesSubdomains</key>
                <true/> <!-- 하위 도메인 포함 -->
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/> <!-- 안전하지 않은 HTTP 요청 허용 -->
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.1</string> <!-- 최소 TLS 버전 설정 -->
            </dict>
        </dict>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>카메라 접근을 허용해주세요</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>서비스 동작을 위해 위치 정보가 필요합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>서비스 동작을 위해 위치 정보가 필요합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>서비스 동작을 위해 위치 정보가 필요합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진 갤러리 접근을 허용해주세요</string>
    <key>UIAppFonts</key>
    <array>
        <string>Pretendard-Black.otf</string>
        <string>Pretendard-Bold.otf</string>
        <string>Pretendard-ExtraBold.otf</string>
        <string>Pretendard-ExtraLight.otf</string>
        <string>Pretendard-Light.otf</string>
        <string>Pretendard-Medium.otf</string>
        <string>Pretendard-Regular.otf</string>
        <string>Pretendard-SemiBold.otf</string>
        <string>Pretendard-Thin.otf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
</dict>
</plist>
